.activeFilters {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	max-height: 80px;
	overflow-x: auto;
}

.activeFiltersWrapper {
	align-items: center;
}

.link-label {
	color: var(--blue600);
	cursor: pointer;
}
.link-label:hover > .link-label-text {
	text-decoration: underline;
}
