div,
p {
	margin: 1rem;
}
.container {
	padding: 3rem;
}

.button .custom-icon {
	width: 20px;
	margin: 0 5px;
}

input {
	width: 100%;
}

label .icon {
	margin-left: 5px;
}

.status-text {
	font-size: small;
}
