body {
	text-align: center;
	margin: auto;
}
.cb-logo {
	margin: 4rem;
}
.header {
	display: flex;
	justify-content: center;
}
.header label {
	align-self: center;
}
a {
	text-decoration: none;
	color: #06c;
}
a:hover {
	color: rgb(2, 88, 174);
}
