body {
	margin: auto;
	padding: 2rem;
	background-color: transparent;
	--miro-blue: #4262ff;
}
#table-container {
	max-height: 60%;
}
table {
	margin: 1rem;
	width: 95%;
	border-collapse: collapse;
}
table th {
	background-color: var(--miro-blue); /*miro primary color*/
	color: white;
	padding: 12px 8px;
	text-align: left;
}
table tr,
table th {
	border-bottom: 1px solid lightgray;
}
table tr:nth-child(even) {
	background-color: #e1eafc;
}
table tr:hover {
	background-color: #d7defc;
}
td {
	padding: 2px;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#pageLabel {
	position: relative;
	bottom: -10px;
}
footer {
	position: absolute;
	bottom: 2rem;
	left: 3rem;
	display: flex;
	flex-flow: row;
	width: 88%;
}
footer .end {
	position: absolute;
	right: 0;
}
svg {
	width: 20px;
}
button span {
	position: relative;
	bottom: 7px;
}
button svg {
	position: relative;
	bottom: 4px;
}
.cb-logo {
	position: absolute;
	right: -20px;
	top: -20px;
}
#switchButtonContainer {
	align-self: end;
}
.hint {
	width: 15px;
}
.imported-checkedBox {
	width: 16px;
	position: relative;
	left: 0px;
	top: 2px;
}
.loading-large::after {
	width: 4rem;
	height: 4rem;

	-webkit-animation: spinning .5s linear infinite;
    animation: spinning .5s linear infinite;
    border-left: 2px solid var(--miro-blue);
    border-bottom: 2px solid var(--miro-blue);
    border-radius: 9999px;
    border: 2px solid var(--miro-blue);
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    content: "";
    display: block;
    left: -webkit-calc(50% - (1em/2));
    left: calc(50% - (1em / 2));
    position: relative;
}
@keyframes spinning {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(359deg)
	}
}

/*utilities*/
.row {
	display: flex;
	flex-flow: row;
	place-content: space-between;
	margin: 1rem;
}
.block-label {
	margin: 0.5rem 0;
	display: block;
}
.align-self-end {
	align-self: end;
}
.relative {
	position: relative;
}
.pt-4 {
	padding-top: 4rem;
}
.fade-in {
	animation: fade-in 0.4s ease-out forwards;
}

/*keyframes*/
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}