body {
	margin: auto;
	padding: 2rem;
	background-color: transparent;
}
div,
p {
	margin: 1rem;
}
button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
svg {
	width: 20px;
}
input {
	width: 100%;
}
.cb-logo {
	position: absolute;
	right: 0px;
	top: 0px;
}
#questionMark {
	width: 15px;
}

/*utilities*/
.muted {
	font-size: small;
	color: slategray;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	width: 50%;
	margin: 0;
}
.border-right {
	border-right: 1px solid #eee;
}
.relative {
	position: relative;
}
.fade-in {
	animation: fade-in 0.4s ease-out forwards;
}

/*keyframes*/
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}