body {
	--miro-blue: #4262ff;
	--miro-lightestgray: #F5F5F7;
	--miro-lightgray: #E1E0E7;
	--miro-primary-text: #050038;
	--miro-secondary-text: #827F9B;

	margin: auto;
	padding: 2rem;
	background-color: transparent;

	color: var(--miro-primary-text);
}
div,
p {
	margin: 1rem;
}
button {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
svg {
	width: 20px;
}
input {
	width: 100%;
}
.cb-logo {
	position: absolute;
	right: 0px;
	top: 0px;
}
#questionMark {
	width: 15px;
}

/*utilities*/
.muted {
	font-size: small;
	color: var(--miro-secondary-text);
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	width: 50%;
	margin: 0;
}
.border-right {
	border-right: 1px solid var(--miro-lightgray);
}
.relative {
	position: relative;
}
.fade-in {
	animation: fade-in 0.4s ease-out forwards;
}

/*keyframes*/
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}