.muted-color {
	color: var(--indigo400);
}
.muted-info {
	color: var(--accent-color);
}
.error {
	color: var(--red800);
}
.table {
	display: block;
	width: 100%;
	overflow-y: scroll;
	max-height: 460px;
}
